@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Checkout {
    position: relative;
    min-height: 100vh;
    padding: 120px 5% 0 5%;
    display: grid;
    grid-template: auto 1fr / 40% 1fr;
    font-family: 'Montserrat', sans-serif;

    h1 {
        grid-area: 1 / 1 / 2 / 3;
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 3em;
        color: white;
        background-color: #0d6312;
        border-radius: 8px 8px 0 0;
    }

    .formContainer {
        grid-area: 2 / 1 / 3 / 2;
        width: 100%;
        height: fit-content;
        background-color: white;
        border-radius: 8px;
        margin-top: 15px;
        padding-bottom: 10px;

        h2 {
            text-align: center;
            padding: 20px 0;
            border-bottom: 1px solid silver;
        }

        form {
            padding: 0 40px;
            box-sizing: border-box;

            .formField {
                position: relative;
                border-bottom: 2px solid #adadad;
                margin: 30px 0;

                input {
                    width: 100%;
                    padding: 0 5px;
                    height: 40px;
                    font-size: 1em;
                    border: none;
                    outline: none;

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none ;
                        margin: 0;
                    }
                }

                label {
                    position: absolute;
                    top: -5px;
                    left: 5px;
                    color: #adadad;
                    transform: translateY(-50%);
                    font-size: 16px;
                    pointer-events: none;
                    text-align: start;
                    font-weight: 600;
                }

                span {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 40px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: #0d6312;
                    }
                }
            }

            .formBtns {
                margin-top: 10px;

                button {
                    padding: 0 20px;
                    height: 40px;
                    border: none;
                    background-color: #0d6312;
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.1em;
                    font-weight: 500;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: .2s;
                    
                    &:hover {
                        filter: brightness(115%); 
                    }
                }
            }
        }
    }
    
    .orderList {
        grid-area: 2 / 2 / 3 / 3;
        padding: 0 10px;

        .cartMsg {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

        .sums {
            display: flex;
            margin-top: 10px;
            justify-content: space-around;
            font-size: 1.2em;
            color: black;
            border-radius: 0 0 8px 8px;
            background-color: white;

            span {
                color: #0d6312;
            }
        }

        .off {
            display: none;
        }
    }
}